/*??*/
/*body{
    background-image: url('../Image/overwatch-2-overwatch-logo-dark-background-minimal-logo-3840x2160-9083.png');
    overflow: hidden;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: auto;

}*/
li{list-style: none;}

body, h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;padding: 0;}

img{border: none;}

a{text-decoration:none ;}
/*??*/



/*start*/
.start {
    background-color: rgb(10, 52, 135);
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    overflow: hidden; /* ??????? */
}

 .wrap {
    width: 1226px;
    margin: 0 auto;
}

.start .wrap .top-left {
    float: left;
}

.start .wrap .top-right {
    float: right;
}

.start .wrap .top-left li{
    float: left;
}
.start .wrap li{
    float: left;
}

.start .wrap li span{
    margin: 0 20px;
    color: rgb(26, 113, 189);

}
.start a{
    color: rgba(212, 205, 205, 0.5);
}
/*end*/

/*start*/
.download{
width: 124px;
height: 0px;
background-color: rgb(202, 214, 214,0.6);
position:absolute;
top: 40px;
left: 50%;
margin-left: -650px;
overflow: hidden;
}
.download img{
    width: 90px;
    margin: 18px 18px ;
}
.download p{
    color: #050404;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}
.top-left li:hover>.download{
    height: 148px;
}
.download2{
width: 204px;
height: 0px;
background-color: rgb(110, 149, 149,0.6);
position:absolute;
top: 40px;
left: 50%;
overflow: hidden;
margin-left: 500px;
}
.download2 p{
    color: #050404;
    font-size: 50px;
    line-height: 80px;
    text-align: center;
}
.top-right li:hover>.download2{
    height: 140px;}
/*end*/

/*第二行 开始*/
.start2{
    width: 100%;
    height: 100px;
    background-color: aquamarine;
}

.logo{
    width: 70px;
    height: 70px;
    background-color: coral;
    overflow: hidden;
    margin-top: 15px;
    margin-left: 90px;
    float: left;
    position: relative;
}
.logo>img{
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    transition: all 0.2s;
}
.logo-1{
left: -55px;
}
.logo-2{
left: 0px;
}
.logo:hover>.logo-1{
    left: 0px;
}
.logo:hover>.logo-2{
    left: 55px;
}

/*第二行 结束*/
/*banner start*/
.banner{
    width: 100%;
    height: 460px;
}
.banner .wrap{
    position: relative;
}
.banner img{
    width: 100%;
}
.slide{
    width: 234px;
    height: 616px;
    padding: 20px 0;
    background-color: rgba(105,101,101,0.6);
    position: absolute;
    top: 0;
    left: 0;
}
.slide>ul>li{
    height: 84px;
    line-height: 84px;
    text-align: left;
    padding-left: 80px;
}
.slide a{
    color: #efeded;
}
.slide>ul>li:hover{
    background-color: #fdb04b;
}
/*banner end*/